# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/Mod20/FileContentIndex
/.vs/Mod20/v17
/.vs
/SocialNetwork/.vs/ProjectEvaluation
/SocialNetwork/.vs/SocialNetwork/DesignTimeBuild
/SocialNetwork/.vs/SocialNetwork/FileContentIndex
/SocialNetwork/.vs/SocialNetwork/v17
/SocialNetwork/SocialNetwork/bin/Debug/net7.0
/SocialNetwork/SocialNetwork/obj/Release/net7.0
/SocialNetwork/SocialNetwork/obj
/SocialNetwork/SocialNetworkTest/bin/Debug/net7.0/CoverletSourceRootsMapping
/SocialNetwork/SocialNetworkTest/bin/Debug/net7.0/SocialNetwork.deps.json
/SocialNetwork/SocialNetworkTest/bin/Debug/net7.0/SocialNetwork.dll.config
/SocialNetwork/SocialNetworkTest/bin/Debug/net7.0/SocialNetwork.runtimeconfig.json
/SocialNetwork/SocialNetworkTest/bin/Debug/net7.0/SocialNetworkTest.deps.json
/SocialNetwork/SocialNetworkTest/bin/Debug/net7.0/SocialNetworkTest.runtimeconfig.json
/SocialNetwork/SocialNetworkTest/bin/Release/net7.0/CoverletSourceRootsMapping
/SocialNetwork/SocialNetworkTest/obj/Debug/net7.0
/SocialNetwork/SocialNetworkTest/obj/Release/net7.0
/SocialNetwork/SocialNetworkTest/obj/project.assets.json
/SocialNetwork/SocialNetworkTest/obj/project.nuget.cache
/SocialNetwork/SocialNetworkTest/obj/SocialNetworkTest.csproj.nuget.dgspec.json
/SocialNetwork/SocialNetworkTest/obj/SocialNetworkTest.csproj.nuget.g.props
/SocialNetwork/SocialNetworkTest/obj/SocialNetworkTest.csproj.nuget.g.targets
/SocialNetworkTests/SocialNetworkTest/Assets
/SocialNetworkTests/SocialNetworkTest/obj/ARM/Debug
/SocialNetworkTests/SocialNetworkTest/obj/ARM/Release
/SocialNetworkTests/SocialNetworkTest/obj/ARM64
/SocialNetworkTests/SocialNetworkTest
